#authForm {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--custom-color-beige-500);
}

.container {
  background-color: var(--custom-color-beige-100);
  border: 2px solid var(--custom-color-beige-900);
  width: min(100%, 480px);
  padding: 48px;
  display: flex;
  justify-content: center;
}

.formContainer {
  max-width: 280px;
}

.formItems {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formItems li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formItems li label {
  font-size: 0.9em;
}