.breadcrumbs {
  background-color: var(--custom-color-beige-900);
  font-size: 0.8rem;
}

.container {
  composes: container-without-height-padding from './index.css';
  padding-top: 16px;
  padding-bottom: 16px;
}

.breadcrumbs a {
  font-weight: bold;
}