footer {
  text-align: center;
  background-color: var(--custom-color-black);
  color: var(--custom-color-beige-100);
}

footer a {
  color: var(--custom-color-beige-100);
}

footer p {
  font-size: 0.9em;
}