.heading {
  background-color: var(--custom-color-beige-500);
}

.heading p,
.heading .title {
  margin: 8px 0;
}

.container {
  composes: container from './index.css';
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  grid-column: 1 / 3;
}

.time {
  justify-self: end;
}