header {
  background-color: var(--custom-color-black);
}

header a {
  color: var(--custom-color-beige-100);
}

.container {
  composes: container from './index.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 16px;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
}