header {
  border-bottom: 1px solid black;
}

.container {
  composes: container from './index.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 16px;
}

.menu a {
  color: black;
}

.menu a:visited {
  color: black;
}

.logo {
  margin: 0;
}