header {
  background-color: var(--custom-color-black);
}

header a {
  color: var(--custom-color-beige-100);
}

.container {
  composes: container from './index.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  body {
    position: relative;
  }

  header {
    position: sticky;
    top: 0;
  }

  header .container {
    justify-content: space-between;
  }

  .toggleMenuButton {
    padding: 0;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 2;
  }

  .toggleMenuButton:hover {
    cursor: pointer;
  }

  .toggleMenuButton > div {
    background-color: var(--custom-color-black);
    width: 36px;
    height: 3px;
    border-radius: 1px;
    transition: 350ms;
  }

  .toggleMenuButton.closed > div {
    background-color: var(--custom-color-beige-100);
  }

  .toggleMenuButton.opened > div:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .toggleMenuButton.opened > div:nth-child(2) {
    opacity: 0;
  }

  .toggleMenuButton.opened > div:nth-child(3) {
    transform: translateY(-9px) rotate(135deg);
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--custom-color-beige-100);
    z-index: 1;
    padding: 72px 0;
    transition: 350ms;
  }

  .menu.hide {
    left: 100vw;
    opacity: 0;
    z-index: -1;
  }

  .menu * {
    color: var(--custom-color-black);
  }

  .menu .links {
    flex-direction: column;
    gap: 0;
  }

  .menu .links li {
    font-size: 1.5rem;
    padding: 36px;
    text-align: center;
    position: relative;
  }

  .menu .links li::after {
    position: absolute;
    bottom: 0;
    left: 45%;
    content: '';
    border: 1px solid var(--custom-color-maroon);
    width: 10%;
  }

  .menu .links li:last-child::after {
    border: none;
  }
}