.container {
  composes: container from './index.css';
}

.title {
  text-align: center;
  color: var(--custom-color-maroon);
}

.postsContainer {
  overflow: auto;
  margin-bottom: 24px;
}

.starred {
  background-color: var(--custom-color-beige-500);
}

.starred .container {
  background-color: var(--custom-color-beige-100);
  padding: 36px;
  border: 2px solid var(--custom-color-beige-900);
  margin-bottom: 48px;
}

.about {
  background-color: var(--custom-color-beige-900);
}