:root {
  --custom-color-black: #1e1e1e;
  --custom-color-grey: #505050;
  --custom-color-beige-900: #e8e3db;
  --custom-color-beige-500: #f5f3ee;
  --custom-color-beige-100: #fcfbf9;
  --custom-color-maroon: #781313;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--custom-color-black);
}

a {
  text-decoration: none;
  color: var(--custom-color-grey);
}

a:hover {
  text-decoration: underline 1px;
  text-underline-offset: 0.25em;
}

button,
.button {
  background-color: var(--custom-color-maroon);
  color: var(--custom-color-beige-100);
  padding: 4px 16px;
  border: none;
}

.button {
  text-decoration: none;
}

button:hover,
.button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: var(--custom-color-grey);
}

input,
textarea {
  padding: 4px 8px;
}

.container-template {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.container {
  composes: container-template;
  padding: 24px;
}

.container-without-height-padding {
  composes: container-template;
  padding-left: 24px;
  padding-right: 24px;
}

.linkButton {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.linkButton:hover {
  text-decoration: underline 1px;
  text-underline-offset: 0.25em;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root main {
  flex: 1;
}