body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

a:visited {
  color: #333;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 8px 24px;
}

.linkContainer {
  cursor: pointer;
}

.linkContainer:hover {
  background-color: #f0f0f0;
}