:root {
  --custom-color-black: #1e1e1e;
  --custom-color-grey: #505050;
  --custom-color-beige-900: #e8e3db;
  --custom-color-beige-500: #f5f3ee;
  --custom-color-beige-100: #fcfbf9;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--custom-color-black);
}

a {
  text-decoration: none;
  color: var(--custom-color-grey);
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 24px;
}

.linkContainer {
  cursor: pointer;
}

.buttonLink {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.buttonLink:hover {
  text-decoration: underline;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}