.posts {
  max-width: 640px;
}

.posts h2 {
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 2px solid #eee;
}

.linkContainer {
  composes: linkContainer from './index.css';
  padding: 16px 0;
}

.buttonLink {
  composes: buttonLink from './index.css';
}

.post {
  border-bottom: 2px solid #eee;
}

.post:last-child {
  border: none;
}

.post p:first-child {
  margin-top: 0;
}

.post p:last-child {
  margin-bottom: 0;
}

.post p {
  color: #666;
}

.post .title {
  font-size: 1.5em;
  margin: 0;
}

.post .time {
  font-size: 0.9em;
}