.linkContainer {
  composes: linkContainer from './index.css';
  padding: 16px;
}

.buttonLink {
  composes: buttonLink from './index.css';
}

.post {
  border-bottom: 2px solid #eee;
  position: relative;
}

.post:last-child {
  border: none;
}

.post p:first-child {
  margin-top: 0;
}

.post p:last-child {
  margin-bottom: 0;
}