.posts {
  max-width: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.posts h2 {
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 2px solid #eee;
}

.linkContainer {
  composes: linkContainer from './index.css';
  padding: 16px 0;
}

.linkButton {
  composes: linkButton from './index.css';
}

.post {
  border-left: 2px solid var(--custom-color-beige-900);
  padding-left: 1em;
}

.post:hover {
  border-left-color: var(--custom-color-black);
}

.post p,
.post .title {
  margin: 8px 0;
}

.post .author {
  margin-top: 0;
}

.post .title {
  font-size: 1.5em;
}

.post .description {
  font-size: 0.9em;
}

.post .time {
  margin-bottom: 0;
  font-size: 0.8em;
}