.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.posts h2 {
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 2px solid #eee;
}

.linkContainer {
  composes: linkContainer from './index.css';
  padding: 16px 0;
}

.linkButton {
  composes: linkButton from './index.css';
}

.post {
  border-left: 2px solid var(--custom-color-beige-900);
  padding-left: 1em;
}

.post:hover {
  border-left-color: var(--custom-color-maroon);
}

.post a:hover {
  text-decoration: none;
}

.post p,
.post .title {
  margin: 8px 0;
}

.post .author {
  color: var(--custom-color-grey);
  font-size: 0.9rem;
  font-weight: bold;
}

.post .author:hover {
  text-decoration: underline 1px;
  text-decoration-color: var(--custom-color-maroon);
}

.post .title {
  font-size: 1.5em;
  color: var(--custom-color-black);
}

.post .title:hover {
  text-decoration: underline 1px;
  text-decoration-color: var(--custom-color-maroon);
}

.post .description {
  font-size: 0.9rem;
}

.post .time {
  margin-bottom: 0;
  font-size: 0.8rem;
}