.app {
  display: grid;
  grid-template-columns: minmax(auto, 180px) 1fr;
}

.app nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}