.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(auto, 220px) 1fr;
}

.app nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--custom-color-beige-900);
  padding: 48px;
}

.app nav a {
  font-weight: bold;
}

.app nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.app main {
  background-color: var(--custom-color-beige-100);
  padding: 48px;
}