.postsTable {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.tableRow {
  display: contents;
}

.tableBody {
  display: contents;
}

.tableMessage {
  grid-column: 1 / 5;
  justify-self: center;
}