.postsTable {
  display: grid;
  grid-template-columns: auto auto auto auto;

  border: 2px solid var(--custom-color-beige-900);
  border-radius: 6px;
}

.tableRow {
  display: contents;
}

.tableRow > * {
  padding: 16px 24px;
  margin: 0;
}

.tableHead {
  font-weight: bold;
}

.tableHead > * {
  border-bottom: 2px solid var(--custom-color-beige-900);
}

.tableBody {
  display: contents;
}

.tableBody .tableRow:nth-child(odd) > * {
  background-color: var(--custom-color-beige-500);
}

.tableMessage {
  grid-column: 1 / 5;
  justify-self: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button {
  composes: button from './index.css';
}