:root {
  --custom-color-black: #1e1e1e;
  --custom-color-grey: #505050;
  --custom-color-beige-900: #e8e3db;
  --custom-color-beige-500: #f5f3ee;
  --custom-color-beige-100: #fcfbf9;
  --custom-color-maroon: #781313;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--custom-color-grey);
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline 1px;
  text-underline-offset: 0.25em;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--custom-color-black);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.button {
  background-color: var(--custom-color-maroon);
  color: var(--custom-color-beige-100);
  padding: 4px 16px;
  border: none;
}

.button {
  display: flex;
  align-items: center;
}

button:hover,
.button:hover {
  cursor: pointer;
}

a.button:hover {
  text-decoration: none;
}

button:disabled,
.button:disabled {
  background-color: var(--custom-color-grey);
}

input,
textarea {
  padding: 4px 8px;
}
